@import "../../app.scss";

.services {
    height: 100%;
    display: flex;
    position: relative;

    .wrapper {
        width: 100%;
        height: 40%;
    }

    .content {
        height: 60%;
        display: flex;
        font-size: 30px;
        color: #e7008a;
        justify-content: center;
        align-items: center;
        width: 100%;
        @media (max-width: 768px) {
            /* Dodaj stylizację dla ekranów o szerokości mniejszej niż 768px */
            flex-direction: column; /* Układ kolumnowy */
            align-items: center; /* Centrowanie zawartości na środku */
            display: inline-block;
            
            .content {
                .Iuse {
                    width: 100%; /* Pełna szerokość dla elementu .Iuse */
                }
            }
        }

        .Iuse {
            width: 50%;
        }

        .icon {
            width: 50px;
            height: 50px;
            margin-left: 10px;
            display: inline-flex;
        }
    }

  
}
