@import "../../app.scss";


.wrap {
    background-image: url(../../../public/wavesOpacity.svg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(190, 188, 188, 0.5);
    .loliImage {
        height: 100%;
        position: absolute; // Dodaj odpowiednie style dla obrazka
        z-index: 1;
      }
    .text {
        width: 70%;
        max-width: 800px;
        text-align: center;
        font-size: 25px;
        font-weight: 400;
        color: black; /* Zmiana koloru tekstu na biały dla lepszej widoczności */
        letter-spacing: 1px;
        margin: 0 auto;
        position: relative;
        @media (max-width: 1024px){
            height: 70%;
            width: 100%;
            gap: 20px;
            
        }
        @include mobile {
            height: 50%;
            width: 100%;
            gap: 20px;
            align-items: center;
            text-align: center;
        }
    }
    h1{
        margin-bottom: 20px;
        
    }
    .imageCon{
        height: 100%;
        position: absolute;
        margin-left: 50px;
        left: 0;
        display: flex;
        width: 50%;
        z-index: 0;
        @media (max-width: 1024px){
            height: 0%;
            width: 100%;
            gap: 20px;
            
        }
        @include mobile {
            height: 0%;
            width: 100%;
            top: unset;
            display: flex;
            
            
        }
    }
    .button1 {
        background-color: #e7008a;
        color: white;
        font-weight: 800;
        border: none;
        font-size: 20px;
        border-radius: 10px;
        padding: 10px;
        width: 300px;
        cursor: pointer;
        margin-top: 20px;
    }
}
